In [1]:
import pandas as pd

In [2]:
df_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz')
df_2000.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13

In [3]:
df_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz')
df_2001.head(2)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13

In [4]:
df_2001

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
2,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
3,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
4,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2835,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
2836,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
2837,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
2838,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
2839,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13

In [5]:
df_2000

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
2,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
3,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
4,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2711,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
2712,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
2713,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
2714,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13
2715,tt0332280,0.0,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,NaN,29000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036.0,en,The Notebook,...,115603229.0,123.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,0.0,7.88,9823.0,PG-13